.layer{
    margin-top: 20px;
}
.layer-infos{
    background: url(../../assets/image/page/background.jpg) center center no-repeat;
    background-size: cover;
    margin-top: -40px;

}
.board-layer-item{
    border: 0.5px solid black;
    border-top: none;
}
.panel-footer{
    margin-top: 20px;
    margin-bottom: 40px;
    background: none;
    border: none;

}
.panel-footer button{
    margin: 0 10px;
}
.panel{
    background: rgba(0, 0, 0, .50);     border: solid 1px white;
    color: white; margin-top: 20px;
}
.panel-title{
    color: #da9b31;
}
.panel input, .panel select{
    color: black;     border: 1px solid black;     border-radius: 5px;
}

.panel-heading{
    background: rgba(0, 0, 0, .50);
}
.btn-report{
    background: #da9b31; color: white; border: 1px solid white;
}
.tab-content{
    color: #da9b31; background: none;
}
.table-responsive > strong{
    color: #da9b31; padding-bottom: 10px; padding-top: 10px;
}