<div class="container">
  <div class="row">
    <nav>
      <ul class="nav nav-pills header">
        <li role="presentation" ><a (click)="addLayer()"><span class="glyphicon glyphicon-plus"> Add Layer</span></a></li>
        <li role="presentation" ><a routerLink="/"><span class="glyphicon glyphicon-refresh"> Refresh</span></a></li>
        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-print">Print</span></a></li>
        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-save-file">Total</span></a></li>
      </ul>

    </nav>
  </div>
<div class="row ">
  <div class="col-xs-7">
  <div id="layer" >

  </div>

  </div>

</div>
</div>