<div class="row">
  <div class=" col-xs-6">
    <div *ngFor="let ley of layer" [ngStyle]="{'background': ley.color, 'height': ley.width+'px'}">
      {{ley.name}}
    </div>
  </div>
  <div class=" col-xs-6">
    <div *ngFor="let ley of layer; let i = index" >
      <form>
        <select [value]="i"  name="numberLayer" #numberLayer (change)="sortLayer(numberLayer, i)">
          <option  *ngFor="let num of layer; let y = index"  >{{y}}</option>
        </select>
        <select [value]="layer[i].name" [(ngModel)]="layer[i].name" name="name" #name="ngModel">
          <option *ngFor="let wood of boardservise.colorLayer"  >{{wood.name}}</option>
        </select>
        <input type="number" [value]="ley.width" [(ngModel)]="layer[i].width" name="width" #width="ngModel">
      </form>
    </div>
  </div>
  </div>

<div class="row">
  <label for="" *ngIf="layer.length">
    Total width ={{boardservise.totalWidth}}
  </label>
</div>