<div class="container-fluid home-bg">
  <app-header></app-header>
  <div class="container-fluid home">
    <div class="row">
      <section class="" >
        <div class="slider_overlay">
          <div class="container">
            <div class="row">
              <div class="main_slider text-center">
                <div class="col-md-12">
                  <div class="main_slider_content wow zoomIn animated" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: zoomIn;">
                    <h1>CBDesigner</h1>
                    <p>Cutting Board Designer is a program that allows you to design a multi-panel end grain cutting board. </p>
                    <button routerLink="/panel" (click)="new()" class="btn-lg btn-danger ">Start</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <app-footer class="footer"></app-footer>
</div>