<div class="container-fluid" >
  <div class="row " >
    <div class="col-xs-12  ">
      <div class="panel panel-primary">

        <div class="panel-heading">
          <h3>3D {{"view board" | translate}}</h3>
        </div>
          <div class="panel-btn ">
              <div>
                  <button class="btn btn-d3 pull-left" routerLink="/panel">{{"go" | translate}}</button>
                  <button class="btn btn-d3 pull-left" (click)="createScene()">{{"start pos" | translate}}Start position</button>
              </div>

          </div>
       <div class="panel-body" id="3D">
           <canvas #canvas id="canvas" class="img-responsive" ></canvas>
       </div>

    </div>
  </div>
</div>
