.home-bg{
    background: url(../../../assets/image/page/background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}
.my-form{
    margin-top:  120px;
}
.my-comment{

}

@media screen and (max-width:520px ){
    .main_slider_content h1 {
        font-size: 4.5rem;                 line-height: 5rem;
    }
    .main_slider_content {
        padding: 120px 0px 150px 0px;   font-size:1.5rem;
    }
    .main_slider_content button{
        font-size: 28px;         padding: 45px 30px;
    }
}

@media screen and (max-width:390px ){
    .main_slider_content h1 {
        font-size: 3.5rem;                 line-height: 3rem;
    }
}