.add-bg{
    background: url(../../../assets/image/page/background.jpg) center center ;
    background-size: cover;

}
.add{
    margin-top: 80px;
}
.panel{
    background: rgba(0, 0, 0, .45);     border: solid 1px white;
    color: white; margin-top: 15px;
}
.panel-heading{
    background: rgba(0, 0, 0, .70); color: #da9b31;
}
.panel-footer{
    background: rgba(0, 0, 0, .55);
}