<div class="container">
  <div class="row">
    <nav>
      <ul class="nav nav-pills header">
        <li role="presentation" ><a routerLink="/panel"><span class="glyphicon glyphicon-file"> New</span></a></li>
        <li role="presentation"><a  (click)="clickInput(inputFile)"><span class="glyphicon glyphicon-open-file">Open
          <label>
             <input type="file" id="fileInput" (change)="open($event)" class="input" #inputFile>
          </label>

        </span></a></li>

      </ul>

    </nav>
  </div>
</div>

