

<div id="header" class="navbar-fixed-top slider">
    <!-- End navbar-collapse-->

  <div class="main_menu_bg">
    <div class="container">
      <div class="row">
        <nav class="navbar ">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-align-justify"></span>

              </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <a class="navbar-brand our_logo" routerLink="/"><img src="../../../assets/image/page/logo.png" alt="" ></a>
              <select #langSelect (change)="translate.use(langSelect.value)">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
              </select>

              <ul class="nav navbar-nav navbar-right">
                <li  ><a routerLink="/panel" (click)="new()"> {{ "new" | translate }}</a></li>
                <li ><a  (click)="clickInput(inputFile)" style="cursor: pointer">{{ "open" | translate }}
                  <label>
                  <input type="file" id="fileInput" (change)="open($event)" class="input" #inputFile>
                 </label>
                  </a></li>
                <li><a routerLink="/template">{{ "templates" | translate }}</a></li>
                <li><a routerLink="/video">{{ "instruction" | translate }}</a></li>
                <li><a routerLink="/about">{{ "about" | translate }}</a></li>
                <li><a routerLink="/contact">{{ "contact" | translate }}</a></li>

              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

      </div>
    </div>

  </div>

</div>

