<app-zoom (refresh)="refreshCanvas($event)"></app-zoom>
<div class="row">

  <div >
    <div *ngFor="let brd of boardservise.board; let i = index"
    [ngStyle]="{'width': boardservise.heightBoard[boardservise.clickeditem[i]]+'px'}"
     class="cut-board"
    (click)="showComand(i)"
     id="row{{i}}"
         >
      <div *ngFor="let layer of boardservise.board[i], let k = index"
          [ngStyle]="{'background': layer.color, 'height': layer.width+'px'}"
      class="board">

      </div>

    </div>
    <div [hidden] = "!showPanelInst">
      <button class="btn btn-warning" (click)="moveLeft()"><span class="glyphicon glyphicon-arrow-left"></span></button>
      <button class="btn btn-warning" (click)="moveRight()"><span class="glyphicon glyphicon-arrow-right"></span></button>
      <button class="btn btn-warning" (click)="rotate()"><span class="glyphicon glyphicon-refresh"></span></button>
      <button class="btn btn-warning" (click)="removeItem()"><span class="glyphicon glyphicon-remove-circle" ></span></button>
    </div>
  </div>
</div>
