
<div class="row ">

  <div class="panel panel-primary" *ngIf=" boardservise.board.length">
    <div class="panel-heading">
      <h3 class="panel-title">{{"design" | translate}}</h3>
    </div>
    <div class="panel-body">
      <div >


          <div class="panel-zoom">
              <app-zoom  [showzoom]="showzoom"></app-zoom>
              <button class="btn btn-resize" (click)="zoomPanel(resize)" #resize >{{"resize" | translate}}</button>
              <button class="btn btn-resize pull-right" (click)="refreshCanvas()"><span class="glyphicon glyphicon-refresh"></span></button>
          </div>

        <div id="board">

         <div *ngFor="let brd of boardservise.board; let i = index"
              [ngStyle]="getWidth(boardservise.heightBoard[boardservise.clickeditem[i]])"
              class="cut-board"
              (click)="showComand(i)"
              id="row{{i}}" >

           <div *ngFor="let layer of boardservise.board[i], let k = index"
                [ngStyle]="{'height' : getHeight(layer.width),  'background-image': 'url(' + layer.urlEnd  +')' } "

                class="board">

           </div>

         </div>
       </div>
          <div [hidden] = "!showPanelInst">
              <button class="btn btn-warning" (click)="moveLeft()"><span class="glyphicon glyphicon-arrow-left"></span></button>
              <button class="btn btn-warning" (click)="moveRight()"><span class="glyphicon glyphicon-arrow-right"></span></button>
              <button class="btn btn-warning" (click)="rotate()"><span class="glyphicon glyphicon-refresh"></span></button>
              <button class="btn btn-warning" (click)="removeItem()"><span class="glyphicon glyphicon-remove-circle" ></span></button>
          </div>
        <div *ngIf="boardservise.board.length" class="panel-footer">
            <span>{{"board lenght" | translate}} - <strong>{{boardLenght()}} {{"mm" | translate}} </strong></span>
            <div>
                <div>
                    <label>{{"input h" | translate}} - <strong>{{"mm" | translate}}</strong></label>
                    <input name="heightBoard" #height="ngModel" [ngModel]="boardservise.heightFinalBoard" required size="2">
                    <label>{{"input blade" | translate}} - <strong>{{"mm" | translate}}</strong></label>
                    <input name="widthBlade" #widthBlade="ngModel" [ngModel]="boardservise.ticknesBlade" required size="2">


                </div>
               <div>
                   <button  class="btn btn-info " routerLink="/3D-board" [disabled]="!boardservise.Image">3D </button>
                   <button  (click)="total(height, widthBlade, btntotal )" class="btn btn-warning " #btntotal id="btntot"
                            [disabled]="height.invalid || widthBlade.invalid"
                            >{{"generate" | translate}} {{ "report" | translate}}</button>
                   <button class="btn btn-warning pull-right" routerLink="/add-template" *ngIf="authServise.isAuth()">
                       {{"add" | translate}} {{"template" | translate}}</button>
               </div>

            </div>

        </div>

    </div>
  </div>
  </div>
</div>

