
<div class="row ">

  <div class="panel panel-primary" *ngIf=" boardservise.board.length">
    <div class="panel-heading">
      <h3 class="panel-title">Design Board</h3>
    </div>
    <div class="panel-body">
      <div >


          <div class="panel-zoom">
              <app-zoom  [showzoom]="showzoom"></app-zoom>
              <button class="btn btn-resize" (click)="zoomPanel(resize)" #resize >Resize Board</button>
              <button class="btn btn-resize pull-right" (click)="refreshCanvas()"><span class="glyphicon glyphicon-refresh"></span></button>
          </div>

        <div id="board">

         <div *ngFor="let brd of boardservise.board; let i = index"
              [ngStyle]="{'width': boardservise.heightBoard[boardservise.clickeditem[i]]+'px'}"
              class="cut-board"
              (click)="showComand(i)"
              id="row{{i}}" >

           <div *ngFor="let layer of boardservise.board[i], let k = index"
                [ngStyle]="{ 'background-image': 'url(' + layer.urlEnd  +')','height': layer.width+'px' }"

                class="board">

           </div>

         </div>
       </div>
          <div [hidden] = "!showPanelInst">
              <button class="btn btn-warning" (click)="moveLeft()"><span class="glyphicon glyphicon-arrow-left"></span></button>
              <button class="btn btn-warning" (click)="moveRight()"><span class="glyphicon glyphicon-arrow-right"></span></button>
              <button class="btn btn-warning" (click)="rotate()"><span class="glyphicon glyphicon-refresh"></span></button>
              <button class="btn btn-warning" (click)="removeItem()"><span class="glyphicon glyphicon-remove-circle" ></span></button>
          </div>
        <div *ngIf="boardservise.board.length" class="panel-footer">
            <span>Board Lenght - <strong>{{boardLenght()}} mm</strong></span>
            <div>
                <div>
                    <label>Input Height board - <strong>mm</strong></label>
                    <input name="heightBoard" #height="ngModel" [ngModel]="boardservise.heightFinalBoard" required size="2">
                    <label>Input thickness blade - <strong>mm</strong></label>
                    <input name="widthBlade" #widthBlade="ngModel" [ngModel]="boardservise.ticknesBlade" required size="2">


                </div>
               <div>
                   <button  class="btn btn-info " routerLink="/3D-board" [disabled]="!boardservise.Image">3D board</button>
                   <button  (click)="total(height, widthBlade, btntotal )" class="btn btn-warning " #btntotal id="btntot"
                            [disabled]="height.invalid || widthBlade.invalid"
                            >Generate report</button>
                   <button class="btn btn-warning pull-right" routerLink="/add-template" *ngIf="authServise.isAuth()">Add Template</button>
               </div>

            </div>

        </div>

    </div>
  </div>
  </div>
</div>

