.board {
    border-left: 0.01em solid black;
    border-top: 0.01em solid black;
    border-bottom: 0.01em solid black;
}
.cut-board{
    display: inline-block;
}
.active-block{
    border:1px solid red ;
}
.deactivate{
    border: none;
}
#board{
    display: inline-block;
}
.panel-footer{
    padding-bottom: 20px;
    transform: rotate(90);
}
.panel{
    background: rgba(0, 0, 0, .50);     border: solid 1px white;
    color: white;
}
.panel-title{
    color: #da9b31;
}
.panel input, .panel select{
    color: black;     border: 1px solid black;     border-radius: 5px;
}
.panel-footer{
    background: rgba(0, 0, 0, .55);
}
.panel-heading{
    background: rgba(0, 0, 0, .70);
}
.panel-footer label, .panel-footer span{
    color: #da9b31;
}
.panel-footer strong{
    color: white;
}
.panel-zoom{
    margin-bottom: 20px;
}
.btn-resize{
    background: #da9b31; color: white; border: 1px solid white;

}