.layer-add{
    margin-bottom: 50px ;
}
.color{
    display: inline-block;
    border: 1px solid black;
    width: 60px;
    height: 25px;
    vertical-align: middle;

}
.form-group{
    margin-top: 20px;
}
.form-control{
    height: auto;
}