<div class="container-fluid slider">
  <div class="row">
    <div class="col-md-12 menu-layer">
      <div class="panel panel-primary">
        <div class="">

        </div>
        <div class="panel-body">

          <div class="row">
            <div class="col-xs-12 col-md-12 add-panel">
              <h3 class="text-center">CBDesigner</h3>
              <a (click)="layerAdd()"  class="active-block" ><span class="glyphicon glyphicon-list-alt"></span> Add Panel</a>
              <a routerLink="/" class="" ><span class="glyphicon glyphicon-refresh"></span> Refresh</a>
              <a *ngIf="boardservise.board.length" (click)="SaveFile()" id="content" class="" ><span class="glyphicon glyphicon-save"></span> Save</a>
              <a routerLink="/total" *ngIf="boardservise.Image" class="" ><span class="glyphicon glyphicon-info-sign"></span> Total </a>
              <a routerLink="/3D-board" *ngIf="boardservise.board.length"  class="" ><span class="glyphicon glyphicon-camera"></span> 3D </a>


            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="layer-add" *ngIf="show">
    <div class="row">
      <form class="form-inline" #myForm="ngForm">

          <div class="form-group ">
            <label > Width part, mm</label>
            <input class=" " type="number"  name="width" [(ngModel)]="width"  required size="2">
          </div>
         <div class="form-group">
           <label> Change wood</label>
           <select  class="" name="color"  [(ngModel)]="selected" #color="ngModel"  required>
             <!--<option *ngFor="let col of colors; let i = index" [value]="i" >-->
               <!--{{col.name}}-->
             <!--</option>-->
                 <option *ngFor="let col of colors; let i = index" [value]="i" >{{woodName[i]}}</option>
           </select>
           <div *ngIf="selected" class=" color" [ngStyle]="{ 'background-image': 'url(' + colors[selected].color + ')'}"></div>
         </div>

          <button class="btn btn-add "  (click)="AddItemLayer()" [disabled]="myForm.invalid">Add Item</button>




      </form>
    </div>

  </div>
  <div class="row">
    <div class="col-md-7 col-md-push-5 col-sm-12">
      <app-board></app-board>
    </div>
    <div class=" col-md-5 col-md-pull-7 col-sm-12">
      <app-show-layer></app-show-layer>
      <app-list-layer></app-list-layer>
    </div>

  </div>
</div>









