<div class="container-fluid about-bg">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <section class="about">
      <div class="row featurette">
        <div class="col-sm-7 col-xs-12">
          <h2 class="featurette-heading">{{ "about-T1" | translate }} </h2>
          <div class="text-section">
            <p >{{ "about-P1-1" | translate }}
            </p>
            <p> {{ "about-P1-2" | translate }}

            </p>
            <p> {{ "about-P1-3" | translate }}

            </p>
            <p> {{ "about-P1-4" | translate }}

            </p>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-0   col-xs-8 col-xs-offset-2 ">
          <img class="featurette-image img-fluid img-responsive img-thumbnail " src="../../../assets/image/page/board2.jpg">

        </div>
      </div>
      <div class="row featurette">

        <div class="col-sm-7 col-xs-12">
          <h2 class="featurette-heading">{{ "about-T2" | translate }}  </h2>
          <div class="text-section">
            <p>{{ "about-P2-1" | translate }}

            </p>
            <p>{{ "about-P2-2" | translate }}

            </p>

          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-0   col-xs-8 col-xs-offset-2 ">
          <img class="featurette-image img-fluid img-responsive img-thumbnail"
               src="../../../assets/image/page/board3.jpg">
        </div>
      </div>
    </section>
    </div>
  </div>
  <app-footer></app-footer>
</div>