<div class="container-fluid about-bg">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <section class="about">
      <div class="row featurette">
        <div class="col-sm-7 col-xs-12">
          <h2 class="featurette-heading">End Grain Cutting board </h2>
          <div class="text-section">
            <p >End Grain Cutting board is a board, wherein the wood grains are perpendicular to the cutting surface, and not parallel as in ordinary cutting boards.
            </p>
            <p>
              When you use the End Grain Cutting board, knives stay sharp longer and need to sharpen rarer. Wood grains are perpendicular to a cutting face, and the blade of
              the knife as it move apart the grains. When you use an edge grain board,
              a knife just cut through grains, which leads to fast dulling of a knife. It is very important for professional cookers who have to sharpen knives several times every day.
            </p>
            <p>
              It is clear when you use a board many times, grains are cut through in several places and tiny piece of wood get in food.
            </p>
            <p>
              The End Grain Cutting Board less subject bacterial contamination, because after cutting grains "close" and oil coating protects against bacterial penetration
              inside the grains. Grains are cut through in an outer board and bacteria get inside the grains without problems. In general, wood boards are more hygienic than plastic or glass.
            </p>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-0   col-xs-8 col-xs-offset-2 ">
          <img class="featurette-image img-fluid img-responsive img-thumbnail " src="../../../assets/image/page/board2.jpg">

        </div>
      </div>
      <div class="row featurette">

        <div class="col-sm-7 col-xs-12">
          <h2 class="featurette-heading">Mineral oil  </h2>
          <div class="text-section">
            <p>
              The boards are treated by food grade mineral oil to prolong service life,
              to protect against bacteria and to make beautiful appearance of a board.
              Mineral oil is tasteless and odorless. We use analog of medical mineral oil –
              the liquid paraffin intended for ingestion. You can buy it in a pharmacy.
              Sunflower, olive, and other food grade oils cannot be used for treatment,
              because after a while they become bitter and will transmit this taste to foodstuff. Linseed oil is the only exception, but even it is worse than mineral oil.
            </p>
            <p>
              You have to observe items of care of board and if you do it, you board will serve and gladden you.
            </p>

          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-0   col-xs-8 col-xs-offset-2 ">
          <img class="featurette-image img-fluid img-responsive img-thumbnail"
               src="../../../assets/image/page/board3.jpg">
        </div>
      </div>
    </section>
    </div>
  </div>
  <app-footer></app-footer>
</div>